{% extends "index.html" %}
{%block titulo%}
<title>Resultado</title>
{%endblock%}
{%block cuerpo%}
<div class="contenedor font_web" >
<h3 class="resultado_bases"><strong>Resultado</strong></h3>
    <p><strong>Integral:</strong> $$ &#x222b {{func}}dx$$</p>
    <p><strong>Punto Extremo Izquierdo:</strong> {{izq}}</p>
    <p><strong>Punto Extremo Derecho:</strong> {{der}}</p>
    <p><strong>Punto Medio:</strong> {{med}}</p>
<a href="{% url 'integrales_r'%}" class="btn">volver</a>
</div>
{%endblock%}