{% extends "base_diez.html" %}
{% block titulo %}
<title> Calculadora Hexadecimal </title>
{% endblock %}
{% block cuerpo %}
<h3>CALCULADORA HEXADECIMAL</h3>

    <form action="/resultado_hexa_dec/" method="POST">
        {% csrf_token %}
        <p>digite el numero en base hexadecimal:</p>
        <input type="text" name="hexa" required>
        <br>
        <br>
        <input type="submit" value="Calcular">
        <input type="reset">
    </form>

    <br>

    <a href="{% url 'decimal'%}"><button>Calculadora Decimal</button></a>
    <a href="{% url 'binaria'%}"><button>Calculadora Binaria</button></a>
    <a href="{% url 'octal_dec'%}"><button>Calculadora Octal</button></a>
{% endblock %}