<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'app.css'%}">
    <link rel="stylesheet" href="{% static 'normalize.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">
   {%block titulo%}
  <title>Sistema de calculadores</title>
    {%endblock%}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
</head>
<body>
    <!--
        Lo que esta dentro de los bloques es lo que cambia.
        Lo que esta por fuera es lo que heredan las otras plantillas.
        Para heredar una plantilla se utiliza el extends y el nombre de la plantila en comillas.
        Para colocar una url tiene que colocarle el atributo name en urls.py y colocar
        la palabra reservada url y el nombre del atributo en comillas dentro del href.
    -->
   <header class="header">
        <div class="nav-bg">
            <nav class="navegacion contenedor">
                <div class="logo" >
                    <a href="{% url 'index'%}">
                    <img class="tam-logo" src="{% static 'img/logotipo.png'%}" alt="" >
                        </a>
                </div>
                <p class="texto-c">Calculadora de conversiones</p>
            </nav>
        </div>
       </header>

     {%block cuerpo%}

<div class="contenedor centrar">
        <a href="{% url 'decimal'%}" class="btn">CALCULADORA DECIMAL</a>
        <a class= "btn "  href="{% url 'binaria'%}"> Calculadora Binaria</a>
        <a class= "btn " href="{% url 'hexa_dec'%}"> Calculadora Hexadecimal</a>
        <a  class= "btn " href="{% url 'octal_dec'%}"> Calculadora Octal</a>
        <a  class= "btn " href="{% url 'decimal_32'%}"> IEEE 32 - 64</a>
    </div>
    <div class="contenedor centrar">
        <a  class= "btn " href="{% url 'binario_32'%}"> BINARIO IEEE 32</a>
        <a  class= "btn " href="{% url 'binario_64'%}"> BINARIO IEEE 64</a>
        <a  class= "btn " href="{% url 'derivada'%}">Calculadora de derivadas</a>
        <a  class= "btn " href="{% url 'biseccion'%}"> Método de Bisección</a>
        <a  class= "btn " href="{% url 'f_pos'%}"> Método de Regla Falsa</a>
    </div>
    <div class="contenedor centrar">
        <a  class= "btn " href="{% url 'n_raphson'%}"> Método de Newton Raphson</a>
        <a  class= "btn " href="{% url 'secante'%}"> Método de la Secante</a>
        <a  class= "btn " href="{% url 'polinomios'%}"> Raices de Polinomios</a>
        <a  class= "btn " href="{% url 'graficador'%}"> Graficador</a>
    </div>
    <div class="contenedor centrar">
        <a  class= "btn " href="{% url 'integrales_r'%}"> Integrales Por Rectangulos</a>
        <a  class= "btn " href="{% url 'trapecio'%}"> Integrales Por Trapecio</a>
    </div>



    <p class="mt contenedor">Métodos Númericos</p>
    {%endblock%}

<footer>
    <div class="footer">
        <div class="text">
            <p class="color-footer">Todos los derechos reservados 2021 &copy </p>
        </div>
    </div>
</footer>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
</html>