<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'app.css'%}">
    <link rel="stylesheet" href="{% static 'normalize.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">
   {%block titulo%}
  <title>Index</title>
    {%endblock%}
</head>
<body>
    <!--
        Lo que esta dentro de los bloques es lo que cambia.
        Lo que esta por fuera es lo que heredan las otras plantillas.
        Para heredar una plantilla se utiliza el extends y el nombre de la plantila en comillas.
        Para colocar una url tiene que colocarle el atributo name en urls.py y colocar
        la palabra reservada url y el nombre del atributo en comillas dentro del href.
    -->
   <header class="header">
        <div class="nav-bg">
            <nav class="navegacion contenedor">
                <div class="logo" >
                    <a href="{% url 'index'%}">
                    <img class="tam-logo" src="{% static 'img/logotipo.png'%}" alt="" >
                        </a>
                </div>
                <p class="texto-c">Calculadora de conversiones</p>
            </nav>
        </div>
       </header>
     {%block cuerpo%}
    <div class="contenedor centrar">
        <a href="{% url 'decimal'%}" class="btn">CALCULADORA DECIMAL</a>
        <a class= "btn "  href="{% url 'binaria'%}"> Calculadora Binaria</a>
        <a class= "btn " href="{% url 'hexa_dec'%}"> Calculadora Hexadecimal</a>
        <a  class= "btn " href="{% url 'octal_dec'%}"> Calculadora Octal</a>
        <a  class= "btn " href="{% url 'decimal_32'%}"> IEEE 32 - 64</a>
        <a  class= "btn " href="{% url 'binario_32'%}"> BINARIO IEEE 32</a>
        <a  class= "btn " href="{% url 'binario_64'%}"> BINARIO IEEE 64</a>
        <a  class= "btn " href="{% url 'derivada'%}">Calculadora de derivadas</a>
        <a  class= "btn " href="{% url 'biseccion'%}"> Método de Bisección</a>
        <a  class= "btn " href="{% url 'f_pos'%}"> Método de Regla Falsa</a>
    </div>

    <p class="mt contenedor">Métodos Númericos</p>
    {%endblock%}

</body>
</html>