<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'app.css'%}">
    <link rel="stylesheet" href="{% static 'normalize.css'%}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
    {%block titulo%}
    <title>Sistema de calculadores</title>
    {%endblock%}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
</head>
<body>
    <!--
        Lo que esta dentro de los bloques es lo que cambia.
        Lo que esta por fuera es lo que heredan las otras plantillas.
        Para heredar una plantilla se utiliza el extends y el nombre de la plantila en comillas.
        Para colocar una url tiene que colocarle el atributo name en urls.py y colocar
        la palabra reservada url y el nombre del atributo en comillas dentro del href.
    -->
   <header class="header">
        <div class="nav-bg">
            <nav class="navegacion contenedor">
                <div class="logo" >
                    <a href="{% url 'index'%}">
                    <img class="tam-logo" src="{% static 'img/logotipo.png'%}" alt="" >
                        </a>
                </div>
                <p class="texto-c">Calculadora de conversiones</p>
            </nav>
        </div>
       </header>

        {%block nav%}

    <nav class="nav">
      <ul class="nav__menu">
        </li>
          <li class="nav__menu-item"><a href="{% url 'index'%}">Inicio</a>
        </li>
        <li class="nav__menu-item"><a>Conversion de Bases</a>
          <ul class="nav__submenu">
              <li class="nav__submenu-item"> <a href="{% url 'decimal'%}">Decimal</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'binaria'%}">Binaria</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'hexa_dec'%}">Hexadecimal</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'octal_dec'%}">Octal</a></li>


          </ul>

        <li class="nav__menu-item"><a>ESTANDAR IEEE</a>
          <ul class="nav__submenu">
            <li class="nav__submenu-item"> <a href="{% url 'decimal_32'%}">IEEE 32 - 64</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'binario_32'%}">BINARIO IEEE 32</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'binario_64'%}">BINARIO IEEE 64</a></li>
          </ul>
        </li>
          <li class="nav__menu-item"><a>Metodos Integracion</a>
          <ul class="nav__submenu">
            <li class="nav__submenu-item"> <a href="{% url 'integrales_r'%}">Integrales Por Rectangulos</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'trapecio'%}">Integrales Por Trapecio</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'simpson_1_3'%}">Integrales Por Simpson 1/3</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'simpson_3_8'%}">Integrales Por Simpson 3/8</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'montecarlo'%}"> Integrales Por Montecarlo</a></li>
          </ul>
        </li>
          </li>
          <li class="nav__menu-item"><a>Ecuaciones no lineales</a>
          <ul class="nav__submenu">
            <li class="nav__submenu-item"> <a href="{% url 'polinomios'%}">Raices de Polinomios</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'derivada'%}">Calculadora de derivadas</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'biseccion'%}">Método de Bisección</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'f_pos'%}">Método de Regla Falsa</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'n_raphson'%}">Método de Newton Raphson</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'secante'%}">Método de la Secante</a></li>
          </ul>
        </li>
        <li class="nav__menu-item"><a href="{% url 'graficador'%}">Graficador</a></li>
          <li class="nav__menu-item"><a>Matrices</a>
          <ul class="nav__submenu">
              <li class="nav__submenu-item"> <a href="{% url 'mat'%}">Matriz</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'ecu_lin'%}">Ecuaciones Lineales</a></li>
              <li class="nav__submenu-item"> <a href="{% url 'ajuste_curvas'%}">Ajuste de curvas</a></li>
          </ul>
          </li>
           <li class="nav__menu-item"><a href="{% url 'nosotros'%}">Nosotros</a></li>
      </ul>
    </nav>

    {%endblock%}


     {%block cuerpo%}
        <div class="container centrar ">
            <p class="pick card-color"><span class="color-title">Metodos Númericos</span><br>Un método numérico es un procedimiento mediante el cual se obtiene, casi siempre de manera aproximada, la solución de ciertos problemas realizando cálculos puramente aritméticos y lógicos (operaciones aritméticas elementales, cálculo de funciones, consulta de una tabla de valores, cálculo preposicional,
                etc.). Un tal procedimiento consiste de una lista finita de instrucciones precisas que especifican una secuencia de operaciones algebraicas y lógicas (algoritmo), que producen o bien una aproximación de la solución del problema (solución numérica) o bien un mensaje.
            <div class="images">
              <img src="http://www.tutor.com.co/wp-content/uploads/2020/05/tutores-costa-rica-1024x1024.png" />
            </div>
        </div>
    {%endblock%}

<footer>
    <div class="footer">
        <div class="text">
            <p class="color-footer">Todos los derechos reservados 2021 &copy </p>
        </div>
    </div>
</footer>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=default'></script>
</html>