{% extends "index.html" %}
{%block titulo%}
    <title>Resultado</title>
    {%endblock%}
    {%block cuerpo%}
    <h3><strong>Conversiones</strong></h3>

    <p>el numero que digito fue: <strong>{{binario}}</strong></p>
    <p>el binario convertido a decimal es: <strong>{{decimal}}</strong></p>
    <p>el binario convertido a octal es: <strong>{{octal}}</strong></p>
    <p>el binario convertido a hexadecimal es: <strong>{{hexadecimal}}</strong></p>

    <a href="{% url 'binaria'%}"><button>volver</button></a>
    {%endblock%}