<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultado</title>
</head>
<body>
    <h3><strong>Conversiones</strong></h3>

    <p>el numero que digito fue: <strong>{{numero}}</strong></p>
    <p>el octal convertido a decimal es: <strong>{{octal}}</strong></p>
    <p>el octal convertido a binario es: <strong>{{binario}}</strong></p>
    <p>el octal convertido a hexadecimal es: <strong>{{hexadecimal}}</strong></p>

    <a href="{% url 'octal_dec'%}"><button>volver</button></a>
</body>
</html>