{% extends "index.html" %}
{% block titulo %}
<title>Calculadora IEEE 754</title>
{% endblock %}
{% block cuerpo %}
<div class="contenedor">
<h1 class="titulo_iee">Formato IEEE 754(32 bits)</h1>
<h3 class="resultado_bases">Binario - Decimal</h3>
<form method="POST" action="/binarioDecimal32/">
    {% csrf_token %}
    <input name="signo" type="number" step="any" placeholder="Signo" class="tamano_contenedor_iee">
    <input name="exponente" type="number" step="any" placeholder="Exponente" class="tamano_contenedor_iee">
    <input name="mantissa" type="number" step="any" placeholder="Mantissa" class="tamano_contenedor_iee">
    <input type="submit" value="calcular" class="btn">
    <br>
    <br>

    <br>
</form>
    <iframe src="https://drive.google.com/file/d/12Fr0R4ygv5dicAljyWGlax5Ampi4KHMT/preview" width="640" height="480"></iframe>
    <div class="contenedor">

{% endblock %}
