{% extends "index.html" %}
{% block titulo %}
<title>Calculadora IEEE 754</title>
{% endblock %}
{% block cuerpo %}
<h1>Formato IEEE 754(64 bits)</h1>
<h3>decimal - dinario</h3>
<form method="POST" action="/decimalBinario64/">
    {% csrf_token %}
    <input name="numero" type="number" step="any">
    <input type="submit" value="calcular">
    <br>
    <br>
    <a href="/binario_decimal32/">binario-decimal(32)</a>
    <br>
    <a href="/binario_decimal64/">binario-decimal(64)</a>
    <br>
    <a href="/decimal_binario32/">decimal-binario(32)</a>
</form>
{% endblock %}