{% extends "index.html" %}
 {% block titulo %}
    <title >Caculadora Decimal</title>
    {% endblock  %}

    {% block cuerpo %}

    <div class="contenedor">
        <div class="contenedor-calculadora">
        <h3 class="titulo_calculadoras">Calculadora Decimal</h3>
    <form action="/resultado_decimal/" method="POST">
        {% csrf_token %}
        <p>Digite su numero:</p>
        <input type="text" name="numero"required>
        <br>
        <br>
        <input class="btn" type="submit" value="Calcular">
        <input class="btn" type="reset">
    </form>
        </div>
    <br>
  
    <a class= "btn "  href="{% url 'binaria'%}"> Calculadora Binaria</a>
    <a class= "btn " href="{% url 'hexa_dec'%}"> Calculadora Hexadecimal</a>
    <a  class= "btn " href="{% url 'octal_dec'%}"> Calculadora Octal</a>
    </div>
    {% endblock %}

