{% extends "Base_10/base_diez.html" %}
{% block titulo %}
<title> Calculadora Binaria </title>
{% endblock %}
{% block cuerpo %}

    <div class="contenedor">
        <h3 class="titulo_calculadoras">Calculadora Binaria</h3>
    <form action="/resultado_binario/" method="POST">
        {% csrf_token %}
        <p>Digite el numero en base binaria:</p>
        <input type="text" name="binario" required>
        <br>
        <br>
        <input class="btn" type="submit" value="Calcular">
        <input class="btn" type="reset">
    </form>
    <br>
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vTk0Ydmcs4OL7wWaHFXCtzA01q7dfq-L0LHKl-kCfryvHYZaouQl5I7hNMEW8vHue6PtFtp7OUzITqt/pub" width="100%" height="680px"></iframe>


    </div>

{% endblock %}

