{% extends "index.html" %}
{% block titulo %}
<title> Calculadora Octar </title>
{% endblock %}
{% block cuerpo %}

    <div class="contenedor">
    <h3 class="titulo_calculadoras">Calculadora Octal</h3>
    <form action="/resultado_octa_dec/" method="POST">
        {% csrf_token %}
        <p>Digite el numero en base octal:</p>
        <input type="text" name="octal" required >
        <br>
        <br>
        <input class="btn" type="submit" value="Calcular">
        <input class="btn" type="reset">
    </form>

    <br>

    <iframe src="https://docs.google.com/document/d/e/2PACX-1vTxyPKckSwiS1juGwa420QVkC3ijbYGrAnHjGKEGw9zKFOOjPU5SV0C0L0f_fctNl3ssPHzUt03-yCj/pub" width="100%" height="680px"></iframe>
    </div>
{% endblock %}