{% extends "Base_10/base_diez.html" %}
{% block titulo %}
<title> Calculadora Hexadecimal </title>
{% endblock %}
{% block cuerpo %}

    <div class="contenedor">
        <h3 class="titulo_calculadoras">Calculadora Hexadecimal</h3>
    <form action="/resultado_hexa_dec/" method="POST">
        {% csrf_token %}
        <p>Digite el numero en base hexadecimal:</p>
        <input type="text" name="hexa" required>
        <br>
        <br>
        <input class="btn" type="submit" value="Calcular">
        <input class="btn" type="reset">
    </form>
    <br>
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vSt1o0uQifHrDTJ7cqx7zVLuOlzgqnrSfnHCszNBBVqI2hXIhR4V4hH7H_Og32T5BPNSpwaFlzb0XkN/pub" width="100%" height="680px"></iframe>


    </div>

{% endblock %}