{% extends "index.html" %}
{% block titulo %}
<title> Equipo de Trabajo</title>
{% endblock %}
{% block cuerpo %}


<div class="container_2 ">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-1">
        <h3>Nicolas Salazar</h3>
        <h4>Codigo: 59391</h4>
        <p>Encargado de toda la parte backend del sistema de calculadoras UsbMath.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-2">
        <h3>Juan David Muñoz</h3>
        <h4>Codigo: 58479</h4>
        <p>Encargado de toda la parte backend del sistema de calculadoras UsbMath.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-3">
        <h3>Juan Camilo Carabali</h3>
        <h4>Codigo: 59641</h4>
        <p>Encargado de toda la parte backend del sistema de calculadoras UsbMath.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-2">
        <h3>Sebastian Bolaños</h3>
        <h4>Codigo: 60672</h4>
        <p>Encargado de toda la parte Frontend del sistema de calculadoras UsbMath.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-3">
        <h3>Alejandro Rosas</h3>
        <h4>Codigo: 58231</h4>
        <p>Encargado de toda la parte Frontend del sistema de calculadoras UsbMath.</p>
      </div>
    </div>
  </div>

</div>
{% endblock %}