{% extends "index.html" %}
{% block titulo %}
    <title>Resultado</title>
{% endblock %}
{% block cuerpo %}
<div class="contenedor">
    <h3 class="resultado_bases"><strong>Conversiones</strong></h3>
    <p>El numero que digito fue: <strong>{{numero}}</strong></p>
    <p><strong>Binario:</strong>  {{binario}}</p>
    <p><strong>Octal:</strong>  {{octal}}</p>
    <p><strong>Hexadecimal:</strong>  {{hexadecimal}}</p>

    <a href="{% url 'decimal'%}" class="btn">volver</a>
    </div>
{% endblock %}