{% extends "index.html" %}
{%block titulo%}
    <title>Resultado</title>
    {%endblock%}
    {%block cuerpo%}
<div class="contenedor">
    <h3 class="resultado_bases"><strong>Conversiones</strong></h3>

    <p>El numero que digito fue: <strong>{{binario}}</strong></p>
    <p>El binario convertido a decimal es: <strong>{{decimal}}</strong></p>
    <p>El binario convertido a octal es: <strong>{{octal}}</strong></p>
    <p>El binario convertido a hexadecimal es: <strong>{{hexadecimal}}</strong></p>

    <a href="{% url 'binaria'%}" class="btn">volver</a>
    <div class="contenedor">

    {%endblock%}