{% extends "index.html" %}
{% block titulo %}
    <title>Resultado</title>
{% endblock %}
{%block cuerpo%}
<div class="contenedor">
    <h3 class="resultado_bases"><strong>Conversiones</strong></h3>

    <p>El numero que digito fue: <strong>{{numero}}</strong></p>
    <p>El octal convertido a decimal es: <strong>{{octal}}</strong></p>
    <p>El octal convertido a binario es: <strong>{{binario}}</strong></p>
    <p>El octal convertido a hexadecimal es: <strong>{{hexadecimal}}</strong></p>

    <a href="{% url 'octal_dec'%}" class="btn">volver</a>
    </div>
{% endblock %}