{% extends "index.html" %}
{% block titulo %}
<title>Formulario de Matrices</title>
{% endblock %}
{% block cuerpo %}
<div class="contenedor font_web">
<h3 class="resultado_bases">Formulario de Matrices</h3>
<form action="/resolver_ecu_lineales/" method="POST">
    {% csrf_token %}
    <table>
        <tbody>
            <tr>
                <td><strong>Matriz =</strong></td>
                <td><textarea name="textarea" rows="5" cols="10" placeholder="" required></textarea></td>
                <td>
                    <strong>vector solución = </strong><input type="text" name="vec" placeholder="1,2,3" required>
                </td>
            </tr>
            <tr>
                <td><input class="btn" type="submit" value="Resolver"></td>
                <td><input class="btn" type="reset"></td>
            </tr>
        </tbody>
    </table>
    <h2><strong>Resultado:</strong></h2>
    {% if x %}
        {% for i in x %}
            <p>{{i}}</p>
        {% endfor %}
    {% endif %}



</form>
        <iframe src="https://drive.google.com/file/d/119ta2N2mzqwm94UhyKZNWl7_7Qpha4ta/preview" width="640" height="480"></iframe>

    </div>
{% endblock %}