{% extends "index.html" %}
{% block titulo %}
<title>Formulario de Matrices</title>
{% endblock %}
{% block cuerpo %}
<div class="contenedor font_web">
<h3 class="resultado_bases">Formulario de Matrices</h3>
<form action="/resolver/" method="POST">
    {% csrf_token %}
    <table>
        <tbody>
            <tr>
                <td><strong>Digita la matriz: </strong></td>
                <td>
                    <textarea name="textarea" rows="5" cols="10"></textarea>
                </td>
                <td>
                    <strong>Nombre de la matriz: </strong><input type="text" name="nombre" placeholder="Nombre de la matriz">
                </td>
            </tr>
            <tr>
                <td><input class="btn" name="calcular" type="submit" value="Guardar Matrices"></td>
                <td><input class="btn" type="reset"></td>
                <td><input class="btn" name="calcular" type="submit" value="Borrar"></td>
            </tr>
            <tfooter>
                <tr>
                    <th><input type="text" name="operacion" placeholder="Digite la operacion"></th>
                    <td>
                        <input class="btn" type="submit" name="calcular" value="calculo">
                    </td>
                </tr>
            </tfooter>
        </tbody>
    </table>
    <div>

        <h2><strong>Matrices:</strong></h2>
        {% for dt in datos %}
            <p>{{dt.0}}:</p>
            {% for d in dt.1 %}
                <p>{{d}}</p>
            {% endfor %}
        {% endfor %}
        <h2><strong>Resultado:</strong></h2>
        {% for r in result %}
            <p>{{r.0}} = {{r.1}}</p>
        {% endfor %}
    </div>


</form>
    </div>
{% endblock %}