:root {
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 187, 2);
    --headerbg: #263238;
    --bodybg: #F9F7F7;
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
     --fuenteHeader: 'Open Sans', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    min-height: 100%;
    position: relative;
   height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    background-color: var(--bodybg);
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 40px;
    overflow: hidden;
}

img {
    width: 100%;
}
p{
    color: #969696;
    font-family: var(--fuenteHeader);
    font-weight: 700;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/** Navegacion **/
.nav-bg {
    background-color: var(--headerbg);
}
.navegacion {
    display: flex;
    flex-direction:row;

    align-items: center;
}
.tam-logo{
  width: 10rem;
    padding: 0;
    margin: 0;
}
.texto-c{
    color: var(--secundario);
    font-size: 3rem;
    font-family: var(--fuenteHeader);
    font-weight: 700;
    text-transform: uppercase;
 }
.btn{
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;

}
btn:active{
    top:0.1em;
}
/* Image */
.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.page-hero-section {
  position: relative;
  height: 100vh;
}
.centrar{
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo_calculadoras{
    color: #3369ff;
    font-size: 2rem;
    font-family: var(--fuenteHeader);
    font-weight: 700;
    text-transform: uppercase;
}
.mt{
    font-size: 10rem;
    color: #000000;
    text-align: center;
}
.resultado_bases{
    font-weight: 700;
    color: #3369ff;
    font-size: 2rem;
    font-family: var(--fuenteHeader);
}
.tamano_contenedor_iee{
    height: 4.4rem;
}
.titulo_iee{
    font-weight: 700;
    color: var(--negro);
    font-size: 2rem;
    font-family: var(--fuenteHeader);
}
.titulo_resultado{
    font-weight: 700;
    color: var(--negro);
    font-size: 1.5rem;
    font-family: var(--fuenteHeader);
}
.font_web{
    font-family: var(--fuenteHeader);
}
.footer{
    background-color:  var(--headerbg);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  color: white;

}
.text{
    text-align: center;
}
.color-footer{
    color: #FFCE00;
       font-family: sans-serif;
    font-weight: bold;
}

/*NavBar*/

  nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
  }

  h1 {
    width: 500px;
    margin: 100px auto 20px;
    color: #f0f0f0;
    text-align: center;
  }

  .nav {
    width: 1100px;
    margin: 0 auto;
    background: var(--headerbg);
    color: #FFCE00;
  }
  .nav a {
    display: block;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
       text-decoration-line: none;
       color: #fff;
  }
  .nav__menu {
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;

  }
  .nav__menu-item {
    display: inline-block;
    position: relative;

  }
  .nav__menu-item:hover {
    background-color: #FFCE00;
  }
  .nav__menu-item:hover .nav__submenu {
    display: block;
  }
  .nav__submenu {
    font-weight: 300;
    text-transform: none;
    display: none;
    position: absolute;
    width: 220px;
    background-color: #FFCE00;
  }
  .nav__submenu-item:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  /*Card*/
